{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Preloader -->
<div id="preloader">
  <i class="circle-preloader"></i>
  <img src="{% static 'img/core-img/pizza.png' %}" alt="">
</div>

{% include 'partials/_busca.html' %}

{% include 'partials/_menu.html' %}

<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
  <div class="container">
    <div class="row">
      {% if receitas %}
      {% for receita in receitas %}
      <!-- Single Best Receipe Area -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-best-receipe-area mb-30">
          {% if not receita.foto_receita %}
          <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="">
          {% else %}
          <img src="{{ receita.foto_receita.url }}" alt="">
          {% endif %}
          <div class="receipe-content">
            <a href="{% url 'receitas:detalhe' receita.id %}">
              <h5>{{receita.nome_receita}}</h5>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="col-12 col-sm-6 col-lg-4">
        <p>Nenhuma receita encontrada</p>
      </div>
      {% endif %}
    </div>
</section>
<!-- ##### Pagination ##### -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if receitas.has_other_pages %}
    {% if receitas.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ receitas.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="?page={{ page. }}"> <span aria-hidden="true">&laquo;</span> </a>
    </li>
    {% endif %}

    {% for page in receitas.paginator.page_range %}
    {% if page == receitas.number %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if not receitas.has_next %}
    <li class="page-item disabled">
      <a class="page-link"><span aria-hidden="true">&raquo;</span></a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ receitas.next_page_number }}"> <span aria-hidden="true">&raquo;</span> </a>
    </li>
    {% endif %}
    {% endif %}
  </ul>
</nav>
<!-- ##### Pagination End ##### -->
</div>
<!-- ##### Best Receipe Area End ##### -->
{% include 'partials/_footer.html' %}
{% endblock %}
